<div row>
	<div column="5">
    <h6><%= @title %></h6>
		<h6>Artist: <%= @artist %></h6>
		<h6>Album: <%= @album %></h6>
	</div>
	<div column="7">
		<img src="<%=@album_art_url%>" height="180" width="180">
	</div>
</div>

<div row>
	<div column="12">
 		<a href="https://www.musixmatch.com/search/<%= @title %>/tracks" target="_blank">Lyrics</a>
	</div>
</div>

